extends layout

block content	
	.container
		.starter-template
			h1= title			
			p.lead
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat et eros eget luctus. Fusce tempor dui tellus, sed accumsan lectus fringilla porta. In vulputate accumsan dolor, eu venenatis lorem blandit quis. Nulla malesuada erat sed ipsum luctus, vitae ullamcorper purus euismod. Vivamus consequat hendrerit felis, vitae lacinia nisl feugiat in. Vivamus a augue ut tellus fringilla ullamcorper. Suspendisse vel elementum ex. Ut tristique convallis lorem at placerat. Nam convallis sollicitudin enim porttitor tempus. In dapibus eros vitae velit imperdiet, sed sodales magna accumsan. Donec quis finibus purus. Duis id maximus ipsum, id eleifend metus. Praesent vel consectetur quam, sed tincidunt odio. Etiam rutrum, metus eget blandit pretium, nulla massa ornare erat, in egestas ipsum nibh fringilla ligula. Curabitur lacinia ullamcorper volutpat.
				br
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat et eros eget luctus. Fusce tempor dui tellus, sed accumsan lectus fringilla porta. In vulputate accumsan dolor, eu venenatis lorem blandit quis. Nulla malesuada erat sed ipsum luctus, vitae ullamcorper purus euismod. Vivamus consequat hendrerit felis, vitae lacinia nisl feugiat in. Vivamus a augue ut tellus fringilla ullamcorper. Suspendisse vel elementum ex. Ut tristique convallis lorem at placerat. Nam convallis sollicitudin enim porttitor tempus. In dapibus eros vitae velit imperdiet, sed sodales magna accumsan. Donec quis finibus purus. Duis id maximus ipsum, id eleifend metus. Praesent vel consectetur quam, sed tincidunt odio. Etiam rutrum, metus eget blandit pretium, nulla massa ornare erat, in egestas ipsum nibh fringilla ligula. Curabitur lacinia ullamcorper volutpat.