doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= title + " : Demo Pages For First App"
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') Project name
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=(title === 'Home' ? 'active' : ''))
							a(href='/') Home
						li(class=(title === 'About' ? 'active' : ''))
							a(href='/about') About
						li(class=(title === 'Contact' ? 'active' : ''))
							a(href='/contact') Contact
						li(class=(title === 'Register' ? 'active' : ''))
							a(href='/register') Register
						li(class=(title === 'Login' ? 'active' : ''))
							a(href='/login') Login	
		block content
	footer
		.container.text-center
			.text-muted(style="padding-top: 60px;")
				| Copyright © 2016 AGL360 Pvt Ltd. All rights reserved.
			img#loading-indicator(src='/images/loading.gif', style='display:none')
			#overlay
	script(src="/javascripts/jquery-3.1.1.js")
	script(src="/javascripts/bootstrap.js")
	script(src="/javascripts/custom.js")
