body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.errors {
	color: red;
	padding-top: 5px;
}
.success {
	border: 1px solid #ccc;
	border-radius: 5px;
	clear: both;
	color: green;
	padding: 8px 0 10px 14px;
	text-align: center;
}
#overlay{position:absolute;height:100%;width:100%;background:black;opacity:.7;z-index:2;display:none;left:0px;top:0px}
#loading-indicator{position:absolute;top:40%;left:45%;z-index:3;display:none;}
